<div class="container border border-dark bg-light" ng-controller="AddCommentController" ng-show="userId">
	<form>
		<div class="form-group">
	    	<label for="commentbox"></label>
	    	<textarea class="form-control" id="commentbox" ng-model="commentText" rows="2" placeholder="Comment..."></textarea>
	  	</div>
	  	<button class="btn btn-secondary" type="submit" ng-click="addComment(userId, post.postId, commentText)">
	  		<span class="fas fa-comment"></span> Comment
	  	</button>
	</form>
</div>