
<div class="container border border-dark bg-light">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<div class="row">
				<strong>{{post.fullName}}</strong>
				&#160
				<a ng-href="#!/posts?username={{post.username}}">
					@{{post.username}}
				</a>
				&#160
				<a ng-href="#!/posts?on={{post.timestamp.date | dateForLink}}">
					{{post.timestamp.date | dateForPost}}
				</a>
				&#160
				{{post.timestamp.time | timeForPost}}
			</div>
			<div class="row">
				<p ng-bind-html="post.text | postText"></p>
			</div>
			<div class="row">
				<button type="button" class="btn btn-outline-primary btn-sm" ng-if="userId">
					<span class="fas fa-check-circle"></span> Like
				</button>
				<button type="button" class="btn btn-outline-info btn-sm" ng-if="!post.commentId" ng-click="goToPost(post.postId)">
					<span class="fas fa-comment"></span> Comments
				</button>
			</div>
		</div>
		<div class="col-sm-2" ng-if="post.userId==userId">
			<button type="button" class="btn btn-outline-success btn-sm">
				<span class="fas fa-pencil-alt"></span> Edit
			</button>
			<button type="button" class="btn btn-outline-danger btn-sm">
				<span class="fas fa-trash-alt"></span> Delete
			</button>
		</div>
	</div>
</div>