<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jms.socialmedia.mybatis.TagsMapper">

	<select id="getTags" resultType="String">
        select distinct tag from post_tags
    </select>

    <select id="getPostTags" parameterType="int" resultType="String">
        select tag from post_tags
        where post_id = #{id}
    </select>

    <insert id="addTags" databaseId="oracle">
    	insert all
    	<foreach item="tag" collection="tags">
    		into post_tags (post_id, tag) values
    		(#{postId}, #{tag})
    	</foreach>
    	select * from dual
    </insert>

    <insert id="addTags" databaseId="mysql">
    	insert into post_tags values
    	<foreach item="tag" collection="tags" separator=",">
    		(#{postId}, #{tag})
    	</foreach>
    </insert>

	<delete id="removePostTags">
		delete from post_tags
		where post_id = #{id}
	</delete>

</mapper>